html {
    background-color: #818181;
    margin: 0;
    padding: 0;
}

body {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom:0;
    margin-top:0;
    padding: 0;
    
    background-color: #c3c1c1;
    color: #333;
    font-size: .85em;
    font-family: Arial;

}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}


h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
        width: auto;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

label.checkbox {
    display: inline;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }


     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------*/
    footer {
        clear: both;
        padding: 0;
    }



/*************************************************************************************
CUSTOM CSS
*/


#title {
    text-align:center;
    font-size:40px;
    font-weight:bold;
    color:#525252;
    background-color: #e1e1e1;
}


#menu {
    background-color:#736e6e;
}


#menu ul {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
}

    #menu ul li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        #menu ul li a {
            background: none;
            color: #d8d8d8;
            text-decoration: none;
        }

        #menu ul li a:hover {
            color: #ffffff;
            text-decoration: none;
        }



#body {
    margin: 0;
    padding: 0;
    background-color: #c3c1c1;
}


a:link, a:visited, a:active, a:hover {
        text-decoration: none;
    }

.title {
    margin: 0 0 0 1em;
}


.article_images {
    width: 305px;
    float: left;
}

.article_description {
    margin: 0 0 0 1em;
    width: 320px;
    float: left;
}

.path {
    margin: 0.5em 0em 0.5em 1em;
}

.path a {
    font-size: 1em;
    font-weight: bold;
    color: Black;
    text-decoration: none;
}

.navigation {
    width: 15%;
    margin: 0;
    float: left;
}

.navigation a {
    font-size:1em;
    font-weight:bold;
    color: Black;
    text-decoration:none;
}

.navigation ul {
    margin: 0.5em 0em 0.5em 1em;
    padding:0;
    list-style-type:none;
}

.navigation ul ul {
    margin: 0.2em 0em 0.7em 1em;
}

.products_list {
    width: 85%;
    float:left;
}


.products_list a {
    text-decoration:none;
}

.products_list_item {
    width: 160px;
    height: 200px;
    margin: 1em;
    padding: 0;
    float:left;
    background-color:#736E6E;
}


.products_list_item_image {
    margin: 10px 9px 15px 9px;
    padding: 0;
    width: 142px;
    height: 122px;
}

.products_list_item_title_area 
{
    padding: 0;
    margin: 0 0.5em 0 0.5em;
}


.products_list_item_title_area a {
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: White;
}

#product {
    float: left;
    margin: 1em;
}

.bigImage {
    width:285px;
    height:245px;
    background-color: #fff;
}

.product_smallImages {
    margin: 0.5em 0 0 0;
}

.product_name h2 
{
    margin:0;
    padding:0;
}

.product_description {
    width: 250px;
}

.product_description h4 {
    font-weight:normal;
}

.product_characteristics {
    margin: 1em 0 0 0;
    width: 180px;
}

.product_characteristic {
    margin: 0.5em 0 0 0;    
}

.product_characteristic a {
    margin: 0em 1em 0em 0em;
    color: Black;
    text-decoration: none;    
}

.shopping_basket_add {
    margin: 1em 0 0 0;
}

.shopping_basket_add a {
    margin: 0em 1em 0 0;
    color: Black;
    text-decoration: none;    
    
}

div.basket 
{
    margin: 1em 0em 0em 1em;
}

.basket_added_product_image
{
    margin: 0 0 1em 0;
    width: 200px;
    height: 170px;
}

.basket_product_title
{
    margin: 0 0 0.2em 0; 
    font-size: 1.5em;
    font-weight: bold;
    color: Black;
}

.basket_product_featuresset
{
    margin:0 0 3em 0;
    font-size: 1.1em;
    font-weight: normal;
    color: Black;
}

.basket_added_product_in_stores
{
    margin: 0 0 2em 0;
    font-size: 0.8em;
    color: Black;
}

th.store, td.store
{
    text-align: left;
}

td.amount, td.amount
{
    text-align: center;
}


.basket_added_product_amount_form
{
    margin: 0 0 1em 0;
}

.basket_added_product_amount_form input[type="text"]
{
    width: 7em;
    border: none;
    color: Black;
}

.basket_added_product_amount_form input[type="submit"]
{
    margin: 1em 0 0 0;
    border: none;
    font-size: 1.6em;
    color: #d8d8d8;
    background-color: #736e6e;
}
 

#footer {
    clear:left;
    width:100%;
    height:50px;
    background-color:#736e6e;

    color:#b5b5b5;
    text-align:center;
    font-size:12px;
    font-weight: bold;
}



